In [1]:
9+123+1

133

In [2]:
print("Manish")

Manish

# Markdown
## Testing 

My name is Khan

* My 
* Name

**Bold** 

*** Bold and Italic ***

`arr[] = [1,245,5,56,100]`

In [3]:
print("My name is Manish",1,5+5)

My name is Manish 1 10

In [4]:
# print?

In [5]:
type(12)

int

In [6]:
type([1,329,"mansih"])

list

In [7]:
s = {1,10,203,"nwd",1} 
print(s)
type(s)

{1, 10, 'nwd', 203}

set

In [8]:
x = int('1233')
#y = int('A') # invalid literal for int() with base 10: 'A'
print(x)
type(x)

1233

int

In [9]:
tuple([10,20,30])

(10, 20, 30)

In [10]:
price = 5
tax = 2
total = price + tax
print(total)
del total

7

In [11]:
%who

price	 s	 tax	 x

In [12]:
%whos

Variable   Type    Data/Info
----------------------------
price      int     5
s          set     {1, 10, 'nwd', 203}
tax        int     2
x          int     1233

In [13]:
print("wdcwec")

wdcwec

In [14]:
x = 3*6 + 5 - 2**3 - 1
print(x)

14

In [15]:
x = 3.55
print(round(x))

x =  3.22
print(round(x))

x = 18.24434
print(round(x,2))

x = -1233
print(abs(x))

x = [10,20,45,5,13]
print(sum(x))
print(min(x))
print(max(x))

4
3
18.24
1233
93
5
45

### String in Python

In [16]:
my_string = 'My name is "Khan"'
print(my_string)

my_string = "My name is 'Khan'" 
print(my_string)

my_string  = '''My "name"
is 'Khan' '''
print(my_string)

my_string = "My name is 'Khan' " * 3 
print(my_string)

My name is "Khan"
My name is 'Khan'
My "name"
is 'Khan'
My name is 'Khan' My name is 'Khan' My name is 'Khan'

In [17]:
message = "Work Life Balance is for average people"
print(message[0:11:1]) # Slicing
print(message[0:25:2])
print(message[0:11])
print(message[:4])
print(message[5:])
print(message[:])
print(message[::-1])

Work Life B
Wr ieBlnei o
Work Life B
Work
Life Balance is for average people
Work Life Balance is for average people
elpoep egareva rof si ecnalaB efiL kroW

In [18]:
message = "I hope its snow TONIGHT" # methods
print(message[7:])
print(message[7:].lower())

print(message[7:].lower().split(' '))
print(len(message[7:].lower().split(' ')))

word_list = message[7:].lower().split(' ')
print(word_list)

st = ' '.join(word_list)
print(st)

its snow TONIGHT
its snow tonight
['its', 'snow', 'tonight']
3
['its', 'snow', 'tonight']
its snow tonight

## Conditions

In [19]:
print(message)
print('hope' in message)
print('lol' in message)
print('lol' not in message)

I hope its snow TONIGHT
True
False
True

## Sequence in Python (List , Tuple , Range)

In [20]:
customers = ['A',"Manish",2,10.455]
print(customers)

print(customers[3])

customers.append("Sachin")
print(customers)

print('A' in customers)

['A', 'Manish', 2, 10.455]
10.455
['A', 'Manish', 2, 10.455, 'Sachin']
True

In [21]:
customer_ids = ['C0001', 'C0003', 'C0004', 'C0007', 'C00010','C00011']

print(int(customer_ids[2][-3:]))
print(customer_ids[1:3])

customer_ids[1] = '777' # elements changes
print(customer_ids)

customer_ids.insert(1,100)
print(customer_ids) # elements adding

del customer_ids[2:4]  # del 
print(customer_ids)

customer_ids.remove('C00010') # .remove
print(customer_ids)

4
['C0003', 'C0004']
['C0001', '777', 'C0004', 'C0007', 'C00010', 'C00011']
['C0001', 100, '777', 'C0004', 'C0007', 'C00010', 'C00011']
['C0001', 100, 'C0007', 'C00010', 'C00011']
['C0001', 100, 'C0007', 'C00011']

In [22]:
player_list = ["Sachin" , "Sehwag" , "Yuvraj" , "Dhoni(c)" , "Zaheer Khan"]
print(player_list)

player_tuple = tuple(player_list)
print(player_tuple)

print(player_tuple[0])
print(player_tuple[2:])

print("Sehwag" in player_tuple)
print("Kohli" in player_tuple)

# player_tuple.append("Kohli") # error (can't add in tuple)
# player_tuple.remove(1) # can't remove
# player_tuple["Zaheer Khan"] = "Virat" # can't modify

print(player_tuple)
player1 , player2 , player3, player4, player5 = player_tuple
print(player1,player2)

['Sachin', 'Sehwag', 'Yuvraj', 'Dhoni(c)', 'Zaheer Khan']
('Sachin', 'Sehwag', 'Yuvraj', 'Dhoni(c)', 'Zaheer Khan')
Sachin
('Yuvraj', 'Dhoni(c)', 'Zaheer Khan')
True
False
('Sachin', 'Sehwag', 'Yuvraj', 'Dhoni(c)', 'Zaheer Khan')
Sachin Sehwag

In [23]:
example_range = range(2,11,2)
print(example_range)
print(list(example_range))

for i in range(2,11,2):
    print(i,end=" ")
    
print()
print(tuple(range(len("Manish"))))
print(list(range(len("Manish Kasera"))))


example_range = list(range(len("Manish Kasera")))

for i in example_range:
    if i % 2 == 0:
        print(i , end= " ")

range(2, 11, 2)
[2, 4, 6, 8, 10]
2 4 6 8 10
(0, 1, 2, 3, 4, 5)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
0 2 4 6 8 10 12

## Loops

In [24]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

taxes = []
totals = []

# in

text = "Manish"

for char in text:
    print(char)

for subtotal in subtotals:
    tax = round(subtotal * .08, 2)
    total = round(subtotal + tax, 2)
    taxes.append(tax)
    totals.append(total)

print(subtotals)
print(taxes)
print(totals)

M
a
n
i
s
h
[15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]
[1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
[17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

In [25]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]
taxes = []
totals = []

# range and length 
for i in range(0,len(subtotals),1):
    taxes.append(round(subtotals[i]*.08,2))

for i in range(0,len(subtotals),1):
    totals.append(round(subtotals[i] + taxes[i],2))

print(subtotals)
print(taxes)
print(totals)

[15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]
[1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
[17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

In [26]:
customer_rating = ['5 Stars', '3 Star', '1 Star', '4 Star', '5 Stars', '4 Star']
int(customer_rating[0][0])

ratings = []
for i in range(0,len(customer_rating),1):
    ratings.append(int(customer_rating[i][0]))
       
for rating in customer_rating:
    ratings.append(int(rating[0]))

print(ratings)    
print(sum(ratings))

[5, 3, 1, 4, 5, 4, 5, 3, 1, 4, 5, 4]
44

In [27]:
customer_rating = ['5 Stars', '3 Star', '1 Star', '4 Star', '5 Stars', '4 Star']

for index,rating in enumerate(customer_rating):
    print(f"index : {index} , rating : {rating}")

index : 0 , rating : 5 Stars
index : 1 , rating : 3 Star
index : 2 , rating : 1 Star
index : 3 , rating : 4 Star
index : 4 , rating : 5 Stars
index : 5 , rating : 4 Star

## Dictionary and Set

In [28]:
dic = {
    "coffee": 10,
    "chai" : 6,
    "snacks" : 5,
    "green tea" : [10,2,4]
}

print(dic["coffee"])

for index,ele in enumerate(dic):
    print(f"item : {ele}, quantity: {dic[ele]}")

    
print()    

items = ['skis', 'snowboard', 'goggles', 'boots']
inventory = [10, 0, 0, 7] 

inventory_status = {}

for index,item in enumerate(items):
    if(inventory[index] == 0):
        inventory_status[item] = "sold out"
    else:
        inventory_status[item] = "in stock"    

print(inventory_status)

10
item : coffee, quantity: 10
item : chai, quantity: 6
item : snacks, quantity: 5
item : green tea, quantity: [10, 2, 4]

{'skis': 'in stock', 'snowboard': 'sold out', 'goggles': 'sold out', 'boots': 'in stock'}

In [29]:
# .items() ,.keys() , .values() , .update({}) ,.gets() are methods of dictionary

item_dict = {
    10001: ('Coffee', 5.99, 'beverage', ['250mL']),
    10002: ('Beanie', 9.99, 'clothing', ['Child', 'Adult']),
    10003: ('Gloves', 19.99, 'clothing', ['Child', 'Adult']),
    10004: ('Sweatshirt', 24.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
    10005: ('Helmet', 99.99, 'safety', ['Child', 'Adult']),
    10006: ('Snow Pants', 79.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
    10007: ('Coat', 119.99, 'clothing', ['S', 'M', 'L']),
    10008: ('Ski Poles', 99.99, 'hardware', ['S', 'M', 'L']),
    10009: ('Ski Boots', 199.99, 'hardware', [5, 6, 7, 8, 9, 10, 11])
}

# print(item_dict)


size_countss = {}

for key, value in item_dict.items():
    size_countss[key] = len(value[3])
print(size_countss)   



size_counts = {}

for dic in  item_dict:
    key_size =({dic : len(item_dict[dic][3])})
    # type(key_size)
    size_counts.update(key_size)

print(size_counts) 

size_counts[10010] = 4
size_counts[10011] = 7
print(size_counts)

exchange_rate = .88
euro_prices = []

for dic in item_dict:
    euro_prices.append(round(item_dict[dic][1] * 0.88,2))

print(euro_prices)

{10001: 1, 10002: 2, 10003: 2, 10004: 6, 10005: 2, 10006: 6, 10007: 3, 10008: 3, 10009: 7}
{10001: 1, 10002: 2, 10003: 2, 10004: 6, 10005: 2, 10006: 6, 10007: 3, 10008: 3, 10009: 7}
{10001: 1, 10002: 2, 10003: 2, 10004: 6, 10005: 2, 10006: 6, 10007: 3, 10008: 3, 10009: 7, 10010: 4, 10011: 7}
[5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.59, 87.99, 175.99]

In [30]:
item_ids = [
    10001, 10002, 10003, 10004, 10005, 
    10006, 10007, 10008, 10009
]

item_names = [
    "Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet",
    "Snow Pants", "Coat", "Ski Poles", "Ski Boots"
]

euro_prices = [
    5.27, 8.79, 17.59, 21.99, 87.99, 
    70.39, 105.59, 87.99, 175.99
]

euro_dict = dict(zip(item_ids,zip(item_names,euro_prices)))
print(euro_dict)

{10001: ('Coffee', 5.27), 10002: ('Beanie', 8.79), 10003: ('Gloves', 17.59), 10004: ('Sweatshirt', 21.99), 10005: ('Helmet', 87.99), 10006: ('Snow Pants', 70.39), 10007: ('Coat', 105.59), 10008: ('Ski Poles', 87.99), 10009: ('Ski Boots', 175.99)}

In [31]:
# set contains unique elements

marks = [10,20,30,40,40,50,50,10,20]

markss = set(marks)
print(markss)
print(len(markss))

for mark in markss:
    print(mark,end=" ")
    
print()  

print(10 in marks)
print(10 not in marks)

# union , interaction , difference(-) , symmetric difference are few methods of set

{40, 10, 50, 20, 30}
5
40 10 50 20 30
True
False

## Functions

In [32]:
ratings = [['5 star' ,'4 star', '3 star'],['5 star','1 star'] , ['4 star']]


def cleaning_rating(rating):
    """
    gets numeric data from web rating
    
    Args:
      rating(str): text rating from web
    Returns:
      int : integer rating from web
      
    """
    numeric_rating = int(rating[0])
    return numeric_rating


for rating in ratings:
    for x in rating:
        print(cleaning_rating(x))
        
# cleaning_rating?

5
4
3
5
1
4

In [33]:
words = []
dic = {}

def print_sentence(*sentence):
    i = 0
    for word in sentence:
        test = ({word:i})
        i += 1
        dic.update(test)
        words.append(word)
        print(word)
        
print_sentence("My", "name","is","Khan")        
print("List : ", words)  
print("Tuple : ",(tuple(words)))
print("Dictionary :" ,dic)

My
name
is
Khan
List :  ['My', 'name', 'is', 'Khan']
Tuple :  ('My', 'name', 'is', 'Khan')
Dictionary : {'My': 0, 'name': 1, 'is': 2, 'Khan': 3}

In [34]:
%%writefile test.py

#create and import module 

def multiply(a,b):
    return a*b

def divide(a,b):
    return a//b

def add(a,b):
    return a+b

def sub(a,b):
    a-b
    
def remainder(a,b):
    return a%b

Overwriting test.py

In [35]:
import test 

print(test.multiply(12,2))
print(test.divide(10,2))

24
5

In [36]:
from test import divide


print(divide(100,20))

5

In [37]:
# making a tax_calulator modulo and importing it

# %%writefile tax_calculator.py

# def tax_calculator(subtotal):
#     total_tax = subtotal * 0.06
#     total = subtotal + total_tax
#     return [subtotal,total_tax,total] 

import tax_calculator as t

print(t.tax_calculator(15.98))

[15.98, 0.96, 16.94]

In [38]:
import tax_calculator as t

subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]
full_transactions =[]

for subtotal in subtotals:
    full_transactions.append(t.tax_calculator(subtotal))


# print(full_transactions)    


customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']


customer_dict = {}

for index,full_transaction in enumerate(full_transactions):
    customer = ({customer_ids[index]:full_transaction})
    customer_dict.update(customer)

print(customer_dict)  

# or using zip functions

customer_dicts = {}

customers_dicts = dict(zip(customer_ids,full_transactions))

print(customer_dicts)

{'C00004': [15.98, 0.96, 16.94], 'C00007': [899.97, 54.0, 953.97], 'C00015': [799.97, 48.0, 847.97], 'C00016': [117.96, 7.08, 125.04], 'C00020': [5.99, 0.36, 6.35], 'C00010': [599.99, 36.0, 635.99]}
{}

In [39]:
print(dir(test)) # give all the funtion in test.py module

import math as m
print(dir(math))

print(m.sqrt(90))
print(m.pow(10,2))

#installing a package

# Not a best way
# !conda install openpyxl # conda is package manager for python

#Best way to install packages
import sys
# !conda install --yes --prefix {sys.prefix} openpyxl

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'add', 'divide', 'multiply', 'remainder', 'sub']

NameError: name 'math' is not defined

In [ ]:
#!conda list # list all the module

In [ ]:
# map(function,iterable)

def currency_formatter(number):
    return '$' + str(number)


price_list = [10.23,49.28,183.1,39.23,297.23]
list(map(currency_formatter,price_list))

In [ ]:
import tax_calculator as t

subtotals = [1799.94, 99.99, 254.95, 29.98, 99.99]

list(map(t.tax_calculator,subtotals))

### Lambda Functions

In [ ]:
# It is an anonymous function that used heavly
# lambda argumnent : expression

print((lambda x: x**2) (3))
# (lambda x: y**2, y**3) (3) # Error (only single value)

print((lambda x,y : x*y if y >5 else x/y) (6,5))


price_list = [179.94, 99.99, 254.95, 29.98, 99.99]
exchange_rate = 0.88

converted = map(lambda x :round(x * exchange_rate,2),price_list)

print(list(converted))


# print the cutomer_id(int)

customer_ids = ["C00001" , "C00021", "C00110","C11111"]

for ids in customer_ids:
    print(int(ids[1:]))

list_customer_ids = list(map(lambda x : int(x[1:]),customer_ids))  
print(list_customer_ids)

In [ ]:
# Map and Lambda function 

#Using map and functions
def last_word(sentence):
    words = sentence.split()
    return words[-1]
    
sentences = ["I Love Python!", "I Love Pizza!", "Pizza Loves Me!", "I Just want to finish this course!"]

result = list(map(last_word,sentences))

print(result)


# Using Map and Lambda Function
sentences_list = ["I Love Python!", "I Love Pizza!", "Pizza Loves Me!", "I Just want to finish this course!"]
 
result = list(map(lambda sentence: sentence.split()[-1], sentences_list))
 
print(result)

### Comprehensions in list , dictionary

In [53]:
# Convert usd to euro list

usd_list = [10.2,23.42,4.2,24.13,2.3,20.2]
exchange_list = 0.88
euro_list = []

for usd in usd_list:
     euro_list.append(round(usd * exchange_rate,2))

print(euro_list)        


#Using comprehension 

#new_list = [expression for member in other iterable if condition]

euro_lists = [round(usd * exchange_rate,2) for usd in usd_list] 
print(euro_lists)

euro_listss = [round(usd * exchange_rate,2) for usd in usd_list if usd > 10] 
print(euro_listss)

[8.98, 20.61, 3.7, 21.23, 2.02, 17.78]
[8.98, 20.61, 3.7, 21.23, 2.02, 17.78]
[8.98, 20.61, 21.23, 17.78]

In [55]:
import numpy as np

ratings = ["5 star", "3 star", "2 star", "5 star", "1 star"]
numeric_rating = []

for rating in ratings:
    numeric_rating.append(int(rating[0]))
    
print(numeric_rating)    


numeric_ratings = [int(rating[0]) for rating in ratings]
print(numeric_ratings)

less_numeric_ratings = [int(rating[0]) for rating in ratings if int(rating[0]) < 4 ]
print(less_numeric_ratings)

[5, 3, 2, 5, 1]
[5, 3, 2, 5, 1]
[3, 2, 1]

In [60]:
# Comprehension Dictionary
# Syntax new_dict = {key: value for key,value in other iterable(if condition)}

items = ["peanut_butter" ,"banana", "bread" ,"egg"]
status = [[2,250],[10,5],[4,18],[0,7]]

print(dict(zip(items,status)))

inventory_cost = {k :round(v[0] * v[1],2) for  k, v in zip(items,status) if v[0] > 0}
print(inventory_cost)

{'peanut_butter': [2, 250], 'banana': [10, 5], 'bread': [4, 18], 'egg': [0, 7]}
{'peanut_butter': 500, 'banana': 50, 'bread': 72}

In [81]:
from tax_calculator import tax_calculator

customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']

subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]

# new_dict = {key:tax_calculator(value) for key,value in zip(customer_ids,subtotals)}
# print(new_dict)

def transaction_dict_creator(customer_ids, subtotals):
    customer_dict = {
        customer_id: tax_calculator(subtotal)
        for customer_id, subtotal in zip(customer_ids, subtotals)
    }

    return customer_dict

transaction_dict_creator(customer_ids, subtotals)

{'C00004': [15.98, 0.96, 16.94],
 'C00007': [899.97, 54.0, 953.97],
 'C00015': [799.97, 48.0, 847.97],
 'C00016': [117.96, 7.08, 125.04],
 'C00020': [5.99, 0.36, 6.35],
 'C00010': [599.99, 36.0, 635.99]}